<div class="options-menu">
<div class="col-menu">

	<div class="panel panel-default">
	<div class="panel-heading">Обращения:</div>
			<%= option_link("tasks","Задачи") %>
			<%= option_link("otdels","Отделы") %>
			<%= option_link("ut_types","Типы задач") %>

  </div>
</div>

<div class="content">
	<%= render @page_render %>
<div class="sep_3"></div>
</div>

</div>
</div>