<%= form_for(@item, :html => {:class => 'simple_options_form'}) do |f| %>
<div class="itemAdd_form">
<label class="left"><%= t("new_"+@item.class.name) %>:</label>
<div class="inp left"><%= f.text_field :name, :class => 'txt' %></div>
<span class="sub btn btn-min btn-success right" id="btn-send"> Добавить</span>
</div>
<% end %>