button.close { -webkit-appearance: none; padding: 0; cursor: pointer; background: transparent; border: 0; }
.close { float: right; font-size: 13px; line-height: 1.2; color: #000; text-shadow: 0 1px 0 #fff; }
.close.text{ filter: alpha(opacity=20); opacity: .4; padding: 4px 0 0 4px; }
.close_grp:hover .close{ color: red; }
.close_grp:hover .icon_close {background-position:-52px 0; }



.modal-header { min-height: 16px;}
.modal-content{ padding: 40px; }


td.showDragHandle {
	background-image: url('updown2.gif');
	background-repeat: no-repeat;
	background-position: center center;
	cursor: move;
	margin-left: -5px;
}
