<div id="full-width" class="modal page" tabindex="-1" style="display: block; margin-top: -135.5px;" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close_grp"> 
        <button type="button" class="close text" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon_close"></span></button>
        </div>        

        <h4 class="hl hl_a bd" id="mainModalLabel"><%= @title if @title %></h4>
      </div>
      <div class="ajax-loader"></div>
      <%= yield %>
    </div>
  </div>
</div>